<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/style.css">
   
    <title>Mapshot</title>
</head>
<body>
    <div id="app"></div>

   <!-- <div id="app">
        <p>{{msg}}</p>
        <p>{{ehVerdade ? 'Verdade' : 'False'}}</p>
        <p>{{frutas[1] + " e " + frutas[1]}}</p>
        <p>{{aluno.nome + "\n" + aluno.idade + 2}}</p>
        <p>{{fun(1)}}</p>
    </div>
-->

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://use.fontawesome.com/7df78d9d37.js"></script>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script>
    /* new Vue({
        el: '#app',
        data: {
            msg: 'Teste de mensagem',
            ehVerdade: true,
            frutas: ['morango', 'uva', 'maça'],
            aluno: {nome: 'Mateus', idade: '15'},
        },
        methods: {
            fun(indice) {
                return 'Fruta: ' + this.frutas[indice]
            }
        },
    }) */

    new Vue({
        el: '#app',
        template: `
        
<div class="container-fluid">
 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <i class="fa fa-quora" aria-hidden="true"></i>
  <!-- <a class="navbar-brand" href="#">Qapshot</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      
        <a class="nav-link" href="#">Home  <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
  </div>
</nav>

<div class="container" id="container1">
<br>
    <p  id="status">Postar publicação.</p>
  
    <div class="form-todo formgroup">
        <p>
            <input v-model="name" placeholder="Nome" type="text" name="author" class="form-control" />
            <br>
          
        </p>
        <p>
            <textarea v-model="message" placeholder="Comentário" name="message" class="form-control"></textarea>
        </p>
        <button type="submit" v-on:click="addComment" class="btn btn-primary">Comentar</button>
    </div>
    <br>

</div>
    


    <div class="container-fluid" id="container2">
    <h1>Feed</h1>

    <div class="list-group">
        <div class="list-group-item" v-for="(comment,index) in allComments">
            <span class="comment__author">Author: <strong>{{comment.name}}</strong></span>

            <p>{{comment.message}}</p>

            <div>
                <a href="#" title="Excluir" v-on:click.prevent="removecomments(index)">Excluir</a>
            </div>
        </div>
    </div>
</div>

</div>
</div>
`,
        data() {
            return {

                comments: [
            {
                name: 'Mateus anjos',
                message: 'mensagem de teste',
      
            },
            {
                name: 'Jonatham',
                message: 'mensagem de teste',
      
            },
            {
                name: 'Luan',
                message: 'mensagem de teste',
      
            },
            {
                name: 'Arnaldo',
                message: 'mensagem de teste',
      
            },
            {
                name: 'Joseph',
                message: 'mensagem de teste',
      
            },
                ],
                name: '',
                message: '',
             
            }
        },
        methods: {
            addComment() {
                if (this.message.trim() === '') {
                    alert("Mensagem em branco.");
                    return;
                }
                this.comments.push({
                    name: this.name,
                    message: this.message,
                  
                });
                this.name = '',
                this.message = '';
                
                //console.log(this.name + '\n' + this.message);
            },
            removecomments(index) {
                console.log(index);
                this.comments.splice(index, 1);
            }
        },
        computed: {
            allComments(){
            return this.comments.map(comment => ({
...comment, name: comment.name.trim() === '' ? 'Anônimo' : comment.name
            }))
        }
        },
        watch: {
            comments(val) {
                console.log('val', val);
            }
        }
    })
    </script>

</body>
</html>